extends ../layout

block content
    h1="Simple board"
    div#toolbar
        a.btn(href="/posts/new") New Post
    div#board
        each post in posts
            .post
                h3.title=post.title
                .content=post.content
                hr
                .author="Author: " + (post.author && post.author.name || "匿名" )
                .time=post.createTime
